 *{
   /* wrapping properties */
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

body {
   /* backgroung properties */
    background-color: #aad4cf;
 }


nav ul li {
   /* nav properties */
   display: inline-block;
   padding: 1rem;
   top: 0%;
}

div label{
   clear: both;
}
 
.site-tittle {
    
    /* tittle properties */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    color: white;
    font-size: 30px;
    font-weight: 200;
}

.field{
   /* input styling */
   width: 940px;
   border: none;
}

.textbox{
   width: 940px;
   border: none;
   height: 90px;
}

.btn{
   background-color: #d4e9e7;
   padding: 10pt;
}

.box{
   /* box model properties */
   padding: 10px;
   border: 1px solid black;
   margin: 20px; 
}

.wrapper {
   /* position properties */
    width: 1024px;
    margin: auto;
    padding: 10px;
    background-color: #d4e9e7;
 }

#starfish1{
   padding: 0%;
}

#starfish2{
   margin-right: 20px;
   position: relative;
   width: 165px;
   height: 165px;
   /* text wrap around image */
   Float:left
   
   }

.life p{
   text-align :justify;
}

   /* listing styling */
a[href="#"] {
   text-decoration: none;
   list-style-type: none;
   color: black;
   font-weight: bolder;
}

footer>p{
   text-align: end;
}


