/*MOBILE*/
h1 {
    font-size: 25pt;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 5px;
}

h3 {
    font-size: 15px;
    font-weight: bolder;
    margin: 1 0px 5px;
}

h4 {
    font-weight: bolder;
    font-size: 12pt;
}

h5 {
    font-size: 10px;
    font-weight: bolder;
    margin: 10px 5px;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding-left: 5px;
    text-align: left;
}

.grey {
    color: white;
    background-color: #222;
    border: none;
    font-size: 25px;
    padding: 10px;
    width: 95%;

}

.learn-more {
    color: white;
    background-color: rgb(34, 34, 34, 0.6);
    border: solid #c78c06;
    border-width: 2px;
    font-size: 25px;
    padding: 30px;
}

button {
    /*color: #222;*/
    background-color: #c78c06;
    border: none;
    font-size: 8pt;
    padding: 2px;
}


.fa-search {
    /*border: #c78c06;*/
    border-width: 2px;
    background-color: #222;
    color: #c78c06;
    padding: 5px;
}

.connect {
    color: #222;
    border: none;
    font-size: 5px;
    padding: auto;
}

.banner {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("main-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: none;
}

.opacity {
    /* tittle properties */
    position: relative;
    top: 10%;
    color: white;
    font-size: 10px;
    /* info to the front */
    z-index: 2;
    background-color: rgb(34, 34, 34, 0.6);
    padding: 50px 40px 20px 20px;
}

.wrapper {
    text-align: left;
    width: 100%;
    margin: auto;
}

.stars-logo {
    width: 100px;
    margin-top: 20px;
}

.mainnav {
    /* nav properties */
    display: inline-block;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    background-color: #222;
    list-style: none;
}

li {
    line-height: 3;
}

a:link {
    text-decoration: none;
    color: #c78c06;

}

a:hover {
    color: #222;
    background-color: #c78c06;
    background-size: contain;
    width: 760px;
}

a:visited {
    color: #c78c06;
}

table {
    width: 95%;
    border: black;
    border-collapse: collapse;
    padding-left: 20px;
    justify-content: center;
}

th {
    height: 50px;
    text-align: center;
    background-color: #ffe6ac;
}

td {
    height: 50px;
    padding-left: 20px;
}

table,
th,
td {
    border: 1px solid;

    margin-left: 20px;
}

.search-container {
    width: 760px;
    float: none;
    text-align: left;
    height: 20px;
}

.search-container input[type=text] {
    float: left;
    /* padding: 6px;*/
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    width: 80%;
}

.about-us {
    background-color: #ffe6ac;
    padding: 20px;
    margin-bottom: 30px;
    justify-content: center;
}

.digital {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.marketing {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.video {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.web {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.print {
    background-color: #ffe6ac;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.our-vision {
    height: 440px;
    width: 100%;
    margin: auto;
    background-image: url("vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: none;
}

.vision {
    position: relative;
    top: 10%;
    color: white;
    font-size: 20px;
    font-weight: 20px;
    /* info to the front */
    z-index: 2;
    padding: 50px 40px 20px 20px;
}

.block1,
.block2 {
    background-color: #ffe6ac;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 70px;
    margin-top: noness;
}

.team {
    font-size: 18px;
}

.bob {
    margin-top: 20px;
    margin-bottom: none;
}

.field {
    width: 95%;
    height: 30px;
    margin-left: 20px;
}

.textbox {
    width: 95%;
    height: 130px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.btn {
    color: #c78c06;
    background-color: #222;
    border: none;
    font-size: 25px;
    padding: 3px;
    margin-left: 20px;
}

.location iframe {
    padding-left: 20px;
    position: relative;
    width: 95%;
    padding-bottom: 20px;
}

.footer {
    background-color: #222;
    color: #c78c06;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: large;
}

hr {
    width: 95%;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c78c06;
    border: none;
}

img {
    width: 100%;
    padding: auto;
}


@media screen and (min-width: 760px) {
    body {
        font-family: 'Open Sans';
    }


    h1 {
        font-size: 80px;
        font-weight: bolder;
    }

    h2 {
        font-size: 60px;
        font-weight: bolder;
        margin: 10px 5px;
    }

    h3 {
        font-size: 40px;
        font-weight: bolder;
        margin: 10px 5px;
    }

    h4 {
        font-weight: bolder;
        font-size: 19pt;
    }

    h5 {
        font-size: 30px;
        font-weight: bolder;
        margin: 10px 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        padding-left: 10px;
        text-align: left;
    }

    img {
        width: 100%;
        padding: auto;
    }

    .grey {
        color: white;
        background-color: #222;
        border: none;
        font-size: 25px;
        padding: 30px;
    }

    .learn-more {
        color: white;
        background-color: rgb(34, 34, 34, 0.6);
        border: solid #c78c06;
        border-width: 2px;
        font-size: 25px;
        padding: 30px;
    }

    button {
        /*color: #222;*/
        background-color: #c78c06;
        border: none;
        font-size: 25px;
        padding: 30px;
    }


    .fa-search {
        /*border: #c78c06;*/
        border-width: 2px;
        background-color: #222;
        color: #c78c06;
        padding: 5px;
        position: relative;
        float: right;
        display: block;
    }

    .connect {
        color: #222;
        border: none;
        font-size: 25px;
        padding: 30px;
    }

    .banner {
        height: 760px;
        width: 1200px;
        margin: auto;
        background-image: url("main-banner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: none;
    }

    .opacity {
        /* tittle properties */
        position: relative;
        top: 10%;
        color: white;
        font-size: 20px;
        font-weight: 20px;
        /* info to the front */
        z-index: 2;
        background-color: rgb(34, 34, 34, 0.6);
        padding: 50px 40px 20px 20px;
    }

    .wrapper {
        text-align: center;
        max-width: 1200px;
        margin: auto;
    }

    .stars-logo {
        width: 100px;
        position: relative;
        margin-top: 30px;
    }

    .mainnav {
        /* nav properties*/
        font-size: 25px;
        background-color: #222;
        background-size: 95%;
        list-style: none;
        text-decoration: none;
    }

    nav ul li {
        /* nav properties */
        display: inline-block;
        padding: 3%;
        margin-top: 0%;
        font-size: 25px;
        text-align: center;
        justify-content: left;
        padding-top: 10px;

    }

    a:link {
        text-decoration: none;
        color: #c78c06;

    }

    a:hover {
        color: #222;
        background-color: #c78c06;
        background-size: contain;
        width: 760px;
    }

    a:visited {
        color: #c78c06;
    }

    table {
        width: 95%;
        border: black;
        border-collapse: collapse;
        padding-left: 20px;
        justify-content: center;
    }

    th {
        height: 50px;
        text-align: center;
        background-color: #ffe6ac;
    }

    td {
        height: 50px;
        padding-left: 20px;
    }

    table,
    th,
    td {
        border: 1px solid;
        margin-left: 20px;
    }

    .search-container {
        width: 200px;
        float: right;
        text-align: right;
        height: 20px;
    }

    .search-container input[type=text] {
        float: left;
        /* padding: 6px;*/
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 17px;
        width: 80%;
    }

    .card {
        margin: 10px;

    }

    .about-us {
        background-color: #ffe6ac;
        padding: 20px;
        margin-bottom: 30px;
        justify-content: center;
    }

    .digital {
        background-color: #ffe6ac;
        padding-left: 20px;
    }

    .marketing {
        background-color: #ffe6ac;
        padding-left: 20px;
    }

    .video {
        background-color: #ffe6ac;
        padding-left: 20px;
    }

    .web {
        background-color: #ffe6ac;
        padding-left: 20px;
    }

    .print {
        background-color: #ffe6ac;
        padding-left: 20px;
    }

    .our-vision {
        height: 440px;
        width: 100%;
        margin: auto;
        background-image: url("vision.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: none;
    }

    .vision {
        position: relative;
        top: 10%;
        color: white;
        font-size: 20px;
        font-weight: 20px;
        /* info to the front */
        z-index: 2;
        padding: 50px 40px 20px 20px;
    }

    .block {
        background-color: #ffe6ac;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 70px;
        margin-top: noness;
    }

    .field {
        width: 95%;
        height: 30px;
        margin-left: 20px;
    }

    .textbox {
        width: 95%;
        height: 130px;
        margin-left: 20px;
        margin-bottom: 15px;
    }

    .btn {
        color: #c78c06;
        background-color: #222;
        border: none;
        font-size: 25px;
        padding: 3px;
        margin-left: 20px;
    }

    .location iframe {
        padding-left: 20px;
        position: relative;
        width: 95%;
        padding-bottom: 20px;
    }

    .footer {
        background-color: #222;
        color: #c78c06;
        font-size: large;
    }

    hr {
        width: 95%;
        height: 3px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #c78c06;
        border: none;
    }

    .wrapper {
        width: 100%;
        margin: auto;
    }

    .search-container form {
        position: relative;
    }

    .search-container form button {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 50px;
        background: transparent;
        border: transparent;
        font-size: 20px;
        color: #4b00ff;
        cursor: pointer;
        outline: 0;
    }

    table {
        border-collapse: collapse;
    }

    .digital {
        grid-area: one;
    }

    .marketing {
        grid-area: two;
    }

    .video {
        grid-area: three;
    }

    .web {
        grid-area: four;
    }

    .print {
        grid-area: five;
    }

    .prueba {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "one one one two two two"
            "three three four four five five";
    }

    .team {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .team div {
        margin: 0;
        width: 100%;
    }

    .team img {
        display: block;
        height: 100%;
    }

    .john {
        flex-basis: 50%;
    }

    .bob {
        flex-basis: 50%;
        order: 1;

    }

    .block1 {
        flex-basis: 50%;
        font-size: 10pt;
    }

    .block2 {
        flex-basis: 50%;
        font-size: 10pt;
    }

    .form {
        grid-area: one;
    }

    .hours {
        grid-area: two;
    }

    .location {
        grid-area: three;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "one three"
            "two two";
    }

    .context {
        padding-top: 20px;
    }

    
}